<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head.html}"></head>

<body>
    <div th:fragment="navigation(activeLink)">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/"><img alt="car picture" src="/images/car.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div>
                        <a class="nav-link" th:href="@{/brands/all}" th:classappend="${activeLink == 'brands'}? 'active'">All Brands</a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div>
                        <a class="nav-link" th:href="@{/offers/add}" th:classappend="${activeLink == 'addOffer'}? 'active'">Add Offer</a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div>
                        <a class="nav-link" th:href="@{/offers/all}" th:classappend="${activeLink == 'allOffer'}? 'active'">All Offers</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div>
                        <a class="nav-link dropdown-toggle" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/add-brand}" th:classappend="${activeLink == 'admin'}? 'active'" >Add Brand</a>
                            <a class="dropdown-item" href="/">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Something else here</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div class="form-inline my-2 my-lg-0 border px-3">
                        <form th:method="post"
                              th:action="@{logout}">
                            <input class="btn btn-link" type="submit" value="Logout" th:classappend="${activeLink == 'logout'}? 'active'"/>
                        </form>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <div>
                        <a class="nav-link" th:href="@{/registration}" th:classappend="${activeLink == 'registration'}? 'active'">Register</a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <div>
                        <a class="nav-link" th:href="@{/login}" th:classappend="${activeLink == 'login'}? 'active'">Login</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    </div>
</body>
</html>