<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html}">
</head>

<body>

<div th:replace="~{fragments/navigation::navigation(activeLink=${'admin'})}"></div>

<div class="container">
    <div class="bg-danger text-center" th:if="${isExist}">
        <p class="d-block">The model already exists</p>
    </div>
    <div th:unless="${isExist}">
        <h2 class="text-center text-white m-3">Add New Brand</h2>
    </div>

    <form class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"
          th:action="@{/add-brand}"
          th:object="${brandDTO}"
          th:method="POST"
          id="addBrand">
        <div class="form-group">
            <label class="text-center text-white font-weight-bold" th:for="name">Brand</label>
            <input type="text" class="form-control"
                   id="name"
                   name="name"
                   th:field="*{name}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Brand name must contain 3 to 15 letters.
            </p>
        </div>
        <div class="form-group">
            <label class="text-center text-white font-weight-bold"
                   th:for="modelName">Model</label>
            <input type="text" class="form-control"
                   id="modelName"
                   name="modelName"
                   th:field="*{modelName}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Model must contain 2 to 15 letters.
            </p>
        </div>
        <div class="form-group">
            <label class="text-center text-white font-weight-bold"
                   th:for="category">Category</label>
            <select class="form-control"
                    id="category"
                    name="category"
                    th:field="*{category}"
                    th:errorclass="is-invalid">
                <option value="">-- Select Category --</option>
                <option th:each="category: ${categoryType}"
                        th:value="${category.name()}"
                        th:text="${category.name()}">Category
                </option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                You must select category.
            </p>
        </div>
        <div class="form-group">
            <label class="text-center text-white font-weight-bold"
                   th:for="startYear">Start Year</label>
            <input class="form-control" type="number" step="1"
                   id="startYear"
                   th:field="*{startYear}"
                   th:errorclass="is-invalid"/>
            <p class="invalid-feedback errors alert alert-danger">
                Start year must between 1920 and 2024 year.
            </p>
        </div>
        <div class="form-group">
            <label class="text-center text-white font-weight-bold"
                   th:for="endYear">End Year</label>
            <input class="form-control" type="number" step="1"
                   id="endYear"
                   th:field="*{endYear}"
                   th:errorclass="is-invalid"/>
            <p class="invalid-feedback errors alert alert-danger">
                End year must between 1920 and 2024 year.
            </p>
        </div>
        <div class="form-group">
            <label class="text-center text-white font-weight-bold"
                   th:for="imageUrl">Image URL</label>
            <input class="form-control" type="url"
                   id="imageUrl"
                   th:field="*{imageUrl}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Model image URL is required.
            </p>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Brand"/>
                </div>
            </div>
        </div>
    </form>

    <div>
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</div>
</body>
</html>