<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html}">
</head>

<body>

<div th:replace="~{fragments/navigation::navigation(activeLink=${'brands'})}"></div>

<div class="container">
    <h2 class="text-center text-white m-3">Add New Brand</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div class="brand-section col-md-5 mr-auto d-flex flex-column mb-4">
            <form th:action="@{/add-brand}"
                  th:object="${addBrandDTO}"
                  th:method="POST"
                  id="addBrand">
                <div class="form-group">
                    <label th:for="brand">Brand Name</label>
                    <input type="text" class="form-control"
                           id="brand"
                           name="brand"
                           th:field="*{name}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Brand name must contain 3 to 15 letters.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="model">Model</label>
                    <input type="text" class="form-control"
                           id="model"
                           name="model"
                           th:field="*{models}"
                           th:errorclass="is-invalid">
                    <p class="invalid-feedback errors alert alert-danger">
                        Model must contain 3 to 15 letters.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="category">Category</label>
                    <select class="form-control"
                           id="category"
                           name="category"
                           th:field="*{category}"
                           th:errorclass="is-invalid">
                    <option value="">-- Select Category --</option>
                    <option th:each="category: ${categoryType}"
                            th:value="${category.name()}"
                            th:text="${category.name()}">Category</option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        You must select category.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="startYear">Start Year</label>
                    <input class="form-control" type="number" step="10"
                           id="startYear"
                           th:field="*{startYear}"
                           th:errorclass="is-invalid"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Start year must between 1920 and 2024 year.
                    </p>
                </div>
                <div class="form-group">
                    <label th:for="endYear">End Year</label>
                    <input class="form-control" type="number" step="10"
                           id="endYear"
                           th:field="*{endYear}"
                           th:errorclass="is-invalid"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        End year must between 1920 and 2024 year.
                    </p>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="button-holder d-flex">
                            <input type="submit" class="btn btn-info btn-lg" value="Submit Brand"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</div>
</body>
</html>