<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html}">
</head>

<body>

<div th:replace="~{fragments/navigation::navigation(activeLink=${'brands'})}"></div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div class="brand-section col-md-5 mr-auto d-flex flex-column"
              th:each="brand: ${brands}">
            <h2>Car brand:
                <span th:text="${brand.name}">Brand name</span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
                    <tr th:each="model: ${brand.models}">
                        <th th:text="${model.id}">No</th>
                        <th th:text="${model.modelName}">Model Name</th>
                        <th th:text="${model.category}">Model Category</th>
                        <th th:text="${model.startYear}">Model Start Year</th>
                        <th th:text="${model.endYear}">Model End Year</th>
                        <th><img alt="image" th:src="${model.imageUrl}"
                                 class="img-thumbnail rounded"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div>
        <footer> </footer>
    </div>
</div>
</body>
</html>
