<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html}">
</head>

<body>

<div th:replace="~{fragments/navigation::navigation(activeLink=${'brands'})}"></div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class="row mb-4 d-flex justify-content-around">
        <div class="brand-section w-auto d-flex flex-column mb-4"
             th:each="brand: ${brands}">
            <h2>Car brand:
                <span th:text="${brand.name}">Brand name</span>
                <form th:method="POST" th:action="@{/delete-brand/{id}(id=${brand.id})}">
                    <input class="btn btn-danger btn-sm" type="submit" value="Delete"/>
                </form>
            </h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="model: ${brand.models}">
                        <td th:text="${model.id}">No</td>
                        <td th:text="${model.modelName}">Model Name</td>
                        <td th:text="${model.category}">Model Category</td>
                        <td th:text="${model.startYear}">Model Start Year</td>
                        <td th:text="${model.endYear}">Model End Year</td>
                        <td><img alt="image" th:src="${model.imageUrl}"
                                 class="img-thumbnail rounded" style="max-width: 100px;"></td>
                        <td sec:authorize="hasRole('Admin')">
                            <div class="d-flex gap-2">
                                <form th:method="POST" th:action="@{/edit-brand/{id}(id=${model.id})}">
                                    <input class="btn btn-info btn-sm" type="submit" value="Edit"/>
                                </form>
                                <form th:method="POST" th:action="@{/delete-brand/{id}(id=${model.id})}">
                                    <input class="btn btn-danger btn-sm" type="submit" value="Delete"/>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>


</body>
</html>