<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head.html}">
</head>

<body>

<div class="container-fluid"
     th:object="${addOfferDTO}"
     th:method="POST">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center" th:object="${addOfferDTO}">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

            <div class="card-body pb-1">
                <h5 class="card-title">
                    Offer: <span th:text="*{year}"></span>
                    Brand: <span th:text="*{brand}"></span>
                    Model: <span th:text="*{model}"></span>
                </h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span>• Mileage: <span th:text="*{mileage}"></span></span></div>
                    <div class="card-text"><span>• Price: <span th:text="*{price}"></span></span></div>
                    <div class="card-text"><span>• Engine type: <span th:text="*{engine}"></span></span></div>
                    <div class="card-text"><span>• Transmission type: <span th:text="*{transmission}"></span></span></div>
                    <div class="card-text"><span>• Offer created: <span th:text="*{created}"></span></span></div>
                    <div class="card-text"><span>• Offer modified: <span th:text="*{modified}"></span></span></div>
                    <div class="card-text"><span>• Seller - <span th:text="${@userHelperService.getUser().firstName} + ' ' + ${@userHelperService.getUser().lastName}"></span></span></div>
                </li>
            </ul>
            <div class="card-body">
                <form th:method="POST"
                      th:action="@{/update/{id}(id=${addOfferDTO.getOfferId()})}">
                    <input class="btn btn-link" type="submit" value="Update"/>
                </form>
                <form th:method="DELETE"
                      th:action="@{/details/{id}(id=${addOfferDTO.getOfferId()})}">
                    <input class="btn btn-link" type="submit" value="Delete"/>
                </form>

            </div>
        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img class="card-img-top" th:src="${addOfferDTO.imageUrl}" alt="Car image">
        </div>
    </div>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>
