<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html}"></head>

<body>

<div th:replace="~{fragments/navigation::navigation(activeLink)}"></div>


<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Welcome to MobiLeLeLe,
        <th:block th:if="${@userHelperService.isAuthenticated()}" th:text="${@userHelperService.getUser().username}"></th:block>
        <th:block th:unless="${@userHelperService.isAuthenticated()}">guest</th:block>
    </h5>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>
