<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>

<div th:replace="~{fragments/navigation::navigation(activeLink)}"></div>


<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Welcome to MobiLeLeLe,
        <th:block th:if="${@userHelperService.isAuthenticated()}" th:text="${@userHelperService.getUser().username}"></th:block>
        <th:block th:unless="${@userHelperService.isAuthenticated()}">guest</th:block>
    </h5>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
