<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html}">
</head>

<body>

<div th:replace="~{fragments/navigation::navigation(activeLink=${'admin'})}"></div>

<div class="container-fluid"
     th:object="${userDTOS}"
     th:method="POST">

    <h2 class="text-center text-white mt-5">All Users</h2>

    <div class="row mx-auto d-flex flex-row justify-content-center">
        <div class="card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <table class="justify-content-center table table-striped">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Is Active</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userDTOS}">
                    <td th:text="${user.username}">Username</td>
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
                    <td th:text="${user.isActive()}">Is Active</td>
                    <td th:text="${user.userRole}">Role</td>
                    <td>
                        <div class="d-flex gap-2">
                        <form th:method="POST" th:action="@{/edit-user/{id}(id=${user.id})}">
                            <input class="btn btn-info btn-sm" type="submit" value="Edit"/>
                        </form>
                        <form th:method="POST" th:action="@{/delete-user/{id}(id=${user.id})}">
                            <input class="btn btn-danger btn-sm" type="submit" value="Delete"/>
                        </form>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>
